.links {
  font-family: $ff-primary;
  font-style: normal;
  color: #001973;
  font-weight: 600;
  font-size: 1rem;
  line-height: 17px;
  &_underline {
    text-decoration: underline;
  }
  &:hover {
    cursor: pointer;
  }
}

.quantity {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 14px 1rem;
  gap: 10px;
  width: 167px;
  height: 57px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #bababa;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 48px;
  &_btn {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 100;
    color: #001973;
    &:hover {
      cursor: pointer;
      font-weight: 900;
    }
  }
  &_input {
    width: 47px;
    border: 0;
    border-right: 2px solid #001973;
    border-left: 2px solid #001973;
    outline: none;
    text-align: center;
  }
}

.product {
  &_name {
    font-family: $ff-secondary-hv;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 51px;
    color: #001973;
    margin-bottom: 10px;
  }
  &_brand {
    margin-bottom: 5px;
  }
  &_ship {
    margin-bottom: 20px;
  }
  &Item__goBack {
    margin-block: 30px;
  }
}

.reviews {
  display: flex;
  &_review {
    width: 800px;
    padding-left: 60px;
    margin-bottom: 50px;
    h3 {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 34px;
      color: #001973;
      margin-bottom: 8px;
    }
    p {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 29px;
      letter-spacing: 0.5px;
      color: #383838;
      margin-bottom: 8px;
    }
    .author {
      font-weight: $fw-light;
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 0.5px;
    }
  }
  &_score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 30px 20px;
    background: #f1f6ff;
    border-radius: 8px;
    h2 {
      font-weight: 800;
      font-size: 44px;
      line-height: 78px;
      color: #19b8ed;
      span {
        color: #001973;
      }
    }
  }
  &_ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #383838;
    text-align: center;

    span {
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }
  &_list {
    width: 280px;
    margin-top: 52px;
    ul {
      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 29px;
        letter-spacing: 0.5px;
        color: #383838;
      }
    }
  }
}

.range {
  display: flex;
  width: 180px;
  height: 9px;
  background: #d5ecf4;
  border-radius: 8px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #ff9d09;
    border-radius: 8px;
  }
}

.imagePicker {
  &__form {
    margin: 10px 0;
  }
  &__input {
    display: none;
  }
  &__label {
    display: block;
    width: 236px;
    height: 236px;
    background: $accent;
    @include flex($jc: center, $ai: center);
    border: 2px dashed #bababa;
    border-radius: 1rem;
    position: relative;
  }
  &__p-previewer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      width: 95%;
      height: 220px;
      border-radius: 1rem;
      object-fit: cover;
    }
  }
}
.w-60 {
  width: 60%;
}
.secondary {
  color: $secondary;
}
.tertiary {
  color: $tertiary;
}
.secondary-disabled {
  color: $secondary-disabled;
}
.ink {
  color: $ink;
}
.caret {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
  svg {
    width: 16px;
    height: 16px;
  }
}

.caretUp {
  transform: rotate(-180deg);
}
.backg-active {
  background-color: $secondary;
}
.backg-disable {
  background-color: $secondary-disabled;
}
.svg-active {
  svg {
    color: $secondary;
    path {
      stroke: $secondary;
    }
  }
}
.svg-disable {
  svg {
    color: $secondary-disabled;
    path {
      stroke: $secondary-disabled;
    }
  }
}
