.dashCategories {
}
.dashCat {
  &__div {
    &-header {
      border-block: 1px solid $tertiary;
    }
    &-table {
      &-item:nth-child(even) {
        background-color: $accent;
      }
    }
  }
}
.dashSubCat {
  &__div {
    &-header {
      border-block: 1px solid $tertiary;
    }
    &-table {
      &-item:nth-child(even) {
        background-color: $accent;
      }
    }
  }
}

