.listPage {
  padding: 30px 128px;

  &-container {
    width: 60%;
  }
  &__p {
    &-heading {
      color: $secondary;
    }
    &-subtext {
      color: $tertiary;
      margin-block: 8px;
    }
    &-userIntro {
      color: $secondary-disabled;
      margin-bottom: 32px;
    }
  }
  &__section {
    &-user {
      margin-top: 40px;
    }
  }
  &__div {
    &-common {
      background-color: $accent;
      border-radius: 8px;
      display: flex;
      padding: 10px;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 32px;
    }
    &-icon {
      padding-inline: 1rem;
      border-right: 2px solid #001973;
      svg {
        color: $secondary;
      }
    }
  }
  &__span {
    &-common {
      width: 100%;
      padding-inline: 10px;
      color: $secondary;
    }
  }
  &-btn {
    width: 30%;
    margin-top: 20px;
  }
  &-name {
    text-transform: capitalize;
  }
}
.listPageEntry {
  //   padding-inline: ;

  &-header {
    border-block: 1px solid $secondary;
    padding: 10px 26px;
  }
  &__section-item {
    padding: 10px 26px;
    margin-block: 34px;
  }
  &__div {
    &-grid {
      display: grid;
      grid-template-columns: 10% 90%;
      gap: 0px 4%;
      align-items: center;
    }
    &-flex {
      display: flex;
      align-items: center;
      gap: 2%;
    }
    &-select {
      margin: 0 auto;
    }
    &-btn {
      width: 70%;
      display: flex;
      gap: 4%;
      margin-block: 20px;
    }
  }
  &__span {
    &-text {
      flex: 6;
      color: $secondary;
    }
    &-header {
      color: $secondary;
    }
    &-productName,
    &-quantity {
      color: $ink;
      text-transform: capitalize;
    }
  }
}
