.quotePage {
  padding: 30px 128px;
  display: grid;
  grid-template-columns: 60% 40fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas: ". .";

  &__header {
    &-p {
      @include font($fw: 500);
      color: $tertiary;
      margin: 30px 0;
    }
  }
  &__p-productInfo {
    @include font($fw: 500);
    color: $secondary-disabled;
    margin: 1rem 0;
  }
  &__uploadImg {
    margin: 1rem 0;
    @include flex($jc: space-between, $ai: flex-start);
    flex-wrap: wrap;
  }
  &-checkbox {
    margin: 32px 0;
  }
  &-multi-input {
    display: grid;
    grid-template-columns: 60% 37% ;
    gap: 0px 3%;
  }
}
