.trackpage {
  &__icon {
    margin-bottom: 10px;
  }

  &__heading {
    text-align: center;
    font-family: $ff-secondary-hv;
    font-style: normal;
    font-weight: $fw-bold;
    font-size: 24px;
    line-height: 34px;
    color: $secondary;
  }
  &__heading-text{
    font-family: $ff-primary;
    font-style: normal;
    font-weight: $fw-semi-bold;
    font-size: 1rem;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.5px;
    margin-top: 5px;
    color: #6F7E80;
  }
  &__searchstatus {
     font-size: 500em;

  }
}
